/*body {*/
/*padding: 50px;*/
/*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
/*}*/

/*a {*/
/*color: #00B7FF;*/
/*}*/

@font-face {
    font-family: 'icomoon';
    src:  url(../fonts/icomoon.eot?cngfef);
    src:  url(../fonts/icomoon.eot?cngfef#iefix) format('embedded-opentype'),
    url(../fonts/icomoon.ttf?cngfef) format('truetype'),
    url(../fonts/icomoon.woff?cngfef) format('woff'),
    url(../fonts/icomoon.svg?cngfef#icomoon) format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
x

.icon-user:before {
    content: "\e900";
}
.icon-preference:before {
    content: "\e901";
}
.icon-info:before {
    content: "\e902";
}
.icon-search:before {
    content: "\e903";
}

